/* Style the buttons that are used to open and close the accordion panel */
.Accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 5px;
}

.Expanded {
    background-color: #ffe976;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.Accordion:hover {
    background-color: #ffe976;
}
.Accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 20px;
    color: #444;
    float: right;
    margin-left: 5px;
}

.Expanded:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    float: right;
    margin-left: 5px;
    color: #777;
    font-size: 20px;
}

/* Style the accordion panel. Note: hidden by default */
.Panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    background-color: #f1f1f1;
}