  .Tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
  }
  
  .Tags li {
    float: left; 
  }
  
  .Tag {
    background: lightgoldenrodyellow;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    cursor: pointer;
  }
  
  .Tag::before {
    background:#f1f1f1;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }
  
  .Tag::after {
    background: #f1f1f1;
    border-bottom: 20px solid transparent;
    border-left: 10px solid lightgoldenrodyellow;
    border-top: 20px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .Tag:hover {
    background-color: lightgoldenrodyellow;
    color: white;
  }
  
  .Tag:hover::after {
     border-left-color: lightgoldenrodyellow; 
  }

  .Active {
    background: #FFD700;
    border-radius: 3px 0 0 3px;
    color: #000000;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
  }
  .Active::before {
    background:#f1f1f1;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }
  .Active::after {
    background: #f1f1f1;
    border-bottom: 20px solid transparent;
    border-left: 10px solid #FFD700;
    border-top: 20px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }
  .Active:hover {
    background-color: #FFD700;
    color: white;
  }
  
  .Active:hover::after {
     border-left-color: #FFD700; 
  }